certifi==2023.7.22
charset-normalizer==3.3.0
greenlet==3.0.0
idna==3.4
requests==2.31.0
SQLAlchemy==2.0.21
typing_extensions==4.7.0
urllib3==2.0.6
chatterbot==1.0.7
Flask==3.0.0
mysql_connector_repackaged==0.3.1
pymongo==4.5.0
